body {
	overflow: hidden !important;
}
.container .top, div#mobile-menu .menu, .container .bottom {
  background: #fed182 !important;
}

#computer-menu .menu img, #mobile-menu .menu img {
  height: auto !important; 
  padding: 11px 0px 0px 0px !important;  
}

#svg {
  margin-top: 65px; 
  overflow: hidden !important;
  width: 100%;
  height: 600px;
}

#erase {
  cursor: pointer !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #00b5ad; 
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:#000;
  cursor: pointer;
}
.color {
  height: 35px;
  width: 35px;
  background-color: #bbb;
  margin: 0px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#mobile-menu {
	display: none;
}

@media screen and (max-width: 765px) {
  body {
    overflow: hidden !important;
  }
	#computer-menu {
		display: none;
	}
	#mobile-menu {
		display: block;
  }	 
  #mobile-menu .top .item img {
    padding: 0px 0px 0px 0x !important; 
  }  
  .slider {
    width: 117px !important;
  }
  #svg {
    max-width: 765px !important;
    max-height: 1000px !important;
    overflow: hidden !important;
  }
   
}